<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAccounts" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://soap-att.dio.red/AccountsV3.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAccounts" contract="ServiceReference1.IAccounts"
                name="BasicHttpBinding_IAccounts" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
